---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<section class="hero">
			<h1 class="hero-heading">Zakaz Kolców:</br>Wspólnie Chronimy</br>Ptaki w Mieście</h1>
			<div class="button-container">
				<a class="button" href="/kampania">Dowiedz się więcej</a>
			</div>
		</section>
		<section class="main-info">
			<h2>Nasza misja to ochrona dzikich ptaków i zachowanie środowiska naturalnego. Dowiedz się więcej o tym problemie i dlaczego warto zastanowić się nad zakazem stosowania kolców.</h2>
			<div class="button-container">
				<a class="button light-button" href="https://zrzutka.pl/4czygm">Wesprzyj nas</a>
			</div>
		</section>
		<hr/>

		<section class="news">
			<div class="news-heading-button-container">
			<h3>Aktualności</h3>
			<a href="/blog" class="button light-button">Zobacz wszystkie</a>
			</div>
			<ul>
				{
					posts.map((post) => (
						<li>
							<div class="news-container">
								<div class="post-image">
									<a href={`/blog/${post.slug}/`}><img width={720} height={360} src={post.data.heroImage} alt="" /></a>
								</div>
								<div class="post-info">
									<div class="post-title">
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
										<a href={`/blog/${post.slug}/`}><h4 class="title">{post.data.title}</h4></a>
										<p class="description">{post.data.description}</p>
									</div>
									<div>
										<a class="more-info" href={`/blog/${post.slug}/`}><span>Dowiedz się więcej &#9658</span></a>
									</div>
								</div>
							</div>
						</li>
						)).slice(0, 3)
					}
				</ul>
			</section>

			<section class="info-box">
				<h3>Jak możesz pomóc?</h3>
				<div class="flex-container">
					<div class="flex-item">
						<img src="/number.png">
						<h5>Podpisz Petycję</h5>
						<p>Dołącz do naszej petycji, aby poprzeć zakaz instalowania kolców przeciw ptakom na budynkach.</p>
					</div>
					<div class="flex-item">
						<img src="/number-1.png">
						<a href="https://zrzutka.pl/4czygm#wplacajacy"><h5>Wspieraj Naszą Kampanię &#9658</h5></a>
						<p>Wsparcie finansowe jest niezwykle ważne dla naszej działalności. Każda kwota pomaga w promowaniu świadomości.</p>
					</div>
					<div class="flex-item">
						<img src="/number-2.png">
						<h5>Dziel Się Informacją</h5>
						<p>Dziel się naszymi materiałami, artykułami oraz informacjami na temat zakazu kolców w swoim środowisku.</p>
					</div>
				</div>
			</section>
		<Footer />
	</body>
</html>
<style>
	.hero {
		background-image: url("/hero-small (Custom).jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
		padding-inline: 1em;
		padding-block: calc(3vw + 2rem);
	}
	.main-info, .news {
		margin-block: calc(3vw + 2rem);
	}
	.news {
		margin-block: calc(3vw + 3rem) calc(5vw + 3rem);
	}
	.main-info, .info-box, .news {
		margin-inline: 1em;
	}
	h1 {
		text-align: center;
		font-size: calc(2.5vw + 2rem);
	}
	h2 {
		text-align: center;
		font-size: 1.8rem;
		line-height: 1.5em;
	}
	h3 {
		font-size: 2rem;
	}
	h4, h5 {
		font-size: 1.8rem;
	}
	.button-container {
		text-align: center;
	}
	.button {
		display: inline-block;
	}

	/* NEWS */
	.news *{
		text-align: center;
		list-style: none;
	}
	.news-heading-button-container {
		gap: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.news-heading-button-container > .button {
		margin: 0;
	}
	.news > ul {
		padding: 0;
	}
	.post-image {
		flex-shrink: 0;
	}
	.news img {
		width: 300px;
	}
	.title {
		margin-block: 0.2em 0.7em;
	}
	.date {
		margin-block: 15px;
		font-size: 1.2rem;
		color: var(--gray);
	}
	.description {
		font-size: 1.6rem;
	}
	.more-info {
		font-size: 1.4rem;
		font-weight: 500;
	}

	/* INFO BOX */
	.info-box {
		text-align: center;
		max-width: 1080px;
		margin-inline: auto;
		background-color: var(--light-gray);
		border-radius: 32px;
		margin-bottom: calc(4vw + 3rem);
		padding-block: 20px 10px;
	}
	.info-box p {
		text-align: center;
	}
	.info-box img {
		width: 70px;
		margin-block: 20px;
	}
	.info-box a > img {
		width: 10px;
		display: inline;
	}
	.info-box a{
		color: var(--medium-gray);
	}
	.info-box a:hover{
		color: var(--dark-gray);
	}

	@media  (min-width: 700px) {
		.hero {
			padding-inline: 10% 0;
			padding-block: 80px 130px;
			background-image: url("/heroimgbw (Custom).jpg");
	}
		.news {
			text-align: left;
			padding-block: calc(2vh + 2rem);
			max-width: 900px;
			margin-inline: auto;
			padding-inline: 2%;
		}
		.post-info * {
			text-align: left;
		}
		/* .main-info {
			padding-block: calc(6vh + 2rem);
		} */
		h1 {
			font-size: calc(2vw + 3rem);
			text-align: left;
		}
		.main-info h2 {
			font-size: calc(0.7vw + 2rem);
		}
		h3 {
		font-size: 2.4rem;
		}
		h4 {
		font-size: 1.8rem;
		}
		h5 {
			font-size: 1.8rem;
		}
		.hero .button-container {
			text-align: left;
		}
		.main-info .button {
			margin-top: 20px;
		}
		.news-container {
			display: flex;
			gap: 40px;
			margin-bottom: 20px;
		}
		.flex-container {
			display: flex;
			gap: 20px;
		}
		.date {
			margin-block: 0 15px;
		}
		.main-info h2 {
		}
	}

	@media  (min-width: 900px) {
		h3 {
		font-size: 3.2rem;
	}

		.main-info {
			max-width: 1060px;
			margin-inline: auto;
		}
		.info-box {
			padding: 60px 40px 80px;
			margin-bottom: 80px;
		}
		.news {
		margin-block: calc(1.5vw + 2rem) calc(2vw + 3rem);
		}
	}
</style>