---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="hero">
			<h1 class="hero-heading">Zakaz Kolców:</br>Wspólnie Chronimy</br>Ptaki w Mieście</h1>
			<a class="button" href="#">Dowiedz się więcej</a>
		</div>
		<main>
			<div>
				<h2>Nasza misja to ochrona dzikich ptaków i zachowanie środowiska naturalnego. Dowiedz się więcej o tym problemie i dlaczego warto zastanowić się nad zakazem stosowania kolców.</h2>
				<a class="button" href="#">Dowiedz się więcej</a>
			</div>

			<div>
				<h2>Aktualności</h2>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<div class="flex-container info-box">
				<h3>Jak możesz pomóc</h3>
				<div class="flex-item">
					<img src="public/number.png">
					<h5>Podpisz Petycję</h5>
					<p>Dołącz do naszej petycji, aby poprzeć zakaz instalowania kolców przeciw ptakom na budynkach.</p>
				</div>
				<div class="flex-item">
					<img src="public/number-1.png">
					<h5>Wspieraj Naszą Kampanię</h5>
					<p>Wsparcie finansowe jest niezwykle ważne dla naszej działalności. Każda kwota pomaga w promowaniu świadomości.</p>
				</div>
				<div class="flex-item">
					<img src="public/number-2.png">
					<h5>Dziel Się Informacją</h5>
					<p>Dziel się naszymi materiałami, artykułami oraz informacjami na temat zakazu kolców w swoim środowisku.</p>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
<style>
	.hero {
		color: white;
		background-image: url("/hero-img.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		padding-inline: 150px 0;
		padding-block: 80px 130px;
	}
	.info-box {
		background-color: var(--light-gray);
	}
	@media  (max-width: 1200px) {
		.hero {
			padding: 40px 2%;
		}
	}
	/* @media  (max-width: 720px) {
		.index-main {
			padding: 40px 5%;
		}
	} */
</style>