---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<section class="hero">
			<h1 class="hero-heading">Zakaz Kolców:</br>Wspólnie Chronimy</br>Ptaki w Mieście</h1>
			<div class="button-container">
				<a class="button" href="#">Dowiedz się więcej</a>
			</div>
		</section>
		<section class="main-info">
			<h2>Nasza misja to ochrona dzikich ptaków i zachowanie środowiska naturalnego. Dowiedz się więcej o tym problemie i dlaczego warto zastanowić się nad zakazem stosowania kolców.</h2>
			<div class="button-container">
				<a class="button light-button" href="#">Dowiedz się więcej</a>
			</div>
		</section>
		<hr/>

		<section class="news">
			<h2>Aktualności</h2>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a class="post-container" href={`/blog/${post.slug}/`}>
								<div>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
								</div>
								<div class="post-info">
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
									<h4 class="title">{post.data.title}</h4>
									<h4 class="decription">{post.data.description}</h4>
								</div>
							</a>
						</li>
						))
					}
				</ul>
			</section>

			<section class="flex-container info-box">
				<h3>Jak możesz pomóc</h3>
				<div class="flex-item">
					<img src="public/number.png">
					<h5>Podpisz Petycję</h5>
					<p>Dołącz do naszej petycji, aby poprzeć zakaz instalowania kolców przeciw ptakom na budynkach.</p>
				</div>
				<div class="flex-item">
					<img src="public/number-1.png">
					<h5>Wspieraj Naszą Kampanię</h5>
					<p>Wsparcie finansowe jest niezwykle ważne dla naszej działalności. Każda kwota pomaga w promowaniu świadomości.</p>
				</div>
				<div class="flex-item">
					<img src="public/number-2.png">
					<h5>Dziel Się Informacją</h5>
					<p>Dziel się naszymi materiałami, artykułami oraz informacjami na temat zakazu kolców w swoim środowisku.</p>
				</div>
			</section>
		<Footer />
	</body>
</html>
<style>
	.hero {
		color: white;
		background-image: url("/hero-img.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		padding-inline: 2%;
		padding-block: calc(4vh + 1rem);
	}
	section {
		padding-block: calc(2vh + 1rem);
		padding-inline: 2%;
	}
	.info-box {
		background-color: var(--light-gray);
		
	}
	h1 {
		text-align: center;
		font-size: calc(2.5vw + 2rem);
	}
	h2 {
		text-align: center;
		font-size: 1.5rem;
	}
	.button-container {
		text-align: center;
		}
	.button {
		display: inline-block;
	}
	.news *{
		text-align: left;
	}
	.news img {
		max-width: 400px;
	}

	.post-container {
		display: flex;
		gap: 40px;
		margin-bottom: 20px;
	}
	.post-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@media  (min-width: 600px) {
		.hero {
			padding-inline: 10% 0;
			background-image: url("/hero-img.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			padding-block: 80px 130px;
		}
		.news, .info-box {
		padding-block: calc(2vh + 2rem);
		max-width: 900px;
		margin: 0 auto;
		}
		.main-info {
			padding-block: calc(6vh + 2rem);
		}
		h1 {
			font-size: 6.4rem;
			text-align: left;
		}
		h2 {
			font-size: 2.8rem;
		}
		.hero .button-container {
			text-align: left;
		}
		.main-info .button {
			margin-top: 20px;
		}
	}
</style>